{
  "singleQuote": true,
  "arrowParens": "avoid",
  "printWidth": 100,
  "tabWidth": 2,
  "overrides": [
    {
      "files": [
        "*.html",
      ],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
