:root {
  --size: 400px;
  --s: calc(var(--size) / 6);
  --bor: calc(var(--size) / 80);
  --boxShadow: calc(var(--size) / 12);
}

.circle {
  z-index: 1;
  position: absolute;
  left: -10px;
  top: -50px;
  /*transform: translate(-50%, -50%);*/
  width: 110%;
  filter: url(#wavy);
}

.circle:before,
.circle:after {
  content: '';
  position: absolute;
  top: 40px;
  height: 66px;
  width: 91%;
  left: 5px;
  border: var(--bor) solid #fff;
}

.circle:before {
  box-shadow: 0 0 var(--boxShadow) #0f0, inset 0 0 var(--boxShadow) #0f0;
}

.circle-red:before {
  box-shadow: 0 0 var(--boxShadow) purple, inset 0 0 var(--boxShadow) purple;
}

.circle:after {
  box-shadow: 0 0 calc(var(--bor) / 2) #fff, inset 0 0 var(--bor) #fff;
}

@keyframes move {
  0% {
    box-shadow: 0 0 var(--boxShadow) #0f0, inset 0 0 var(--boxShadow) #0f0;
    filter: hue-rotate(0deg);
  }
  20% {
    box-shadow: 0 0 60px #0f0, inset 0 0 60px #0f0;
  }

  40% {
    box-shadow: 0 0 40px #0f0, inset 0 0 40px #0f0;
  }
  60% {
    box-shadow: 0 0 80px #0f0, inset 0 0 80px #0f0;
  }
  80% {
    box-shadow: 0 0 100px #0f0, inset 0 0 100px #0f0;
  }
  100% {
    box-shadow: 0 0 var(--boxShadow) #0f0, inset 0 0 var(--boxShadow) #0f0;
    filter: hue-rotate(360deg);
  }
}
/* cola's fancy animations */

.death {
  animation-name: death;
  animation-duration: 1.8s;
  display: inline-block;
  will-change: transform;
}

.kill {
  animation-name: kill;
  animation-duration: 1.8s;
  display: inline-block;
  will-change: transform;
}

@keyframes death {
  0% {
    transform: scale(1);
    color: #ff0018;
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
    color: #fff;
  }
}

@keyframes kill {
  0% {
    color: #beff00;
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
    color: #fff;
  }
}
/* on fire effect */
.onfire {
  margin: 0 auto;
  background: linear-gradient(0deg, #000, #272727);
}

.onfire:before,
.onfire:after {
  content: '';
  position: absolute;
  left: -1px;
  top: -1px;
  background: linear-gradient(
    45deg,
    #00afff,
    #008ac9,
    #006593,
    #003f5c,
    #ca21ca,
    #003f5c,
    #006593,
    #008ac9
  );
  background-size: 400%;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  z-index: -1;
  animation: steam 20s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.onfire:after {
  filter: blur(24px);
}



.blob {
	background: green;
	border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	height: 12px;
	width: 12px;
  margin-left: 8px;
	transform: scale(1);
	animation: pulse-black 2s infinite;
}

@keyframes pulse-black {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 200, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 255, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 255, 0, 0);
	}
}
